{% extends "base.html" %} {% load static %} {% block page_header %}
<video id="videoBG" poster="poster.JPG" autoplay muted loop>
  <source src="https://mattlister-envirosea.s3.eu-west-2.amazonaws.com/media/video.mp4" type="video/mp4" />
</video>
{% endblock %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <h1>ENVIROSEA</h1>
  </div>
</div>

<div class="container h-100">
  <div class="row h-100">
    <div class="col-6 xs-12 text-left">
      <h4>
        <a
          href="{% url 'bookings' %}"
          div class="shop-trips-button btn btn-lg rounded-0 text-uppercase py-3 text-left"
          >Book a Trip</a
        >
      </h4>
    </div>
    <div class="col-6 xs-12 text-right">
      <h4>
        <a
          href="{% url 'products' %}"
          div class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 text-center"
          >Surf Our Store</a>
      </h4>
    </div>
  </div>
</div>

  <footer>
      <a href="https://www.facebook.com/matt.lister.505" target="_blank" rel="noopener"
        aria-label="Follow us on Facebook">
      <i class="fab fa-facebook fa-3x"></i>
      </a>
      <a href="https://twitter.com/Mattlister" target="_blank" rel="noopener"
        aria-label="Follow us on Twitter">
      <i class="fab fa-twitter fa-3x"></i>
      </a>
      <a href="https://www.linkedin.com/in/matthew-lister1979" target="_blank" rel="noopener"
        aria-label="Find me on Linkedin"> <i class="fab fa-linkedin fa-3x"></i>
      </a>
      <a href="https://github.com/Mattlister" target="_blank" 
        rel="noopener" aria-label="Find me on Github">
      <i class="fab fa-github fa-3x"></i>
      </a>                
      <h3>Envirosea Designed and Created by Matthew Lister 2020</h3>
      <h3>For Educational Purposes Only</h3>
    </footer>

{% endblock %}