{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}


{% block content %}
<div class="container">
<div class="row">
    <div class="col"> <img src="https://mattlister-envirosea.s3.eu-west-2.amazonaws.com/media/plasticsposter.jpg" class="img-fluid" alt="Responsive image"> </div>
</div>

	<div class="row">
			<div class="my-5">
            <div class="wrapper-gradient">

            <!-- The information in the list below was borrowed from: https://www.nationalgeographic.com/environment/oceans/take-action/10-things-you-can-do-to-save-the-ocean/ for education purposes only-->
				<p>
					10 things you can do to help preserve the ocean:

					<ul>
						<li>
							<p>1. Mind Your Carbon Footprint and Reduce Energy Consumption
								Reduce the effects of climate change on the ocean by leaving the car at home when you
								can and being conscious of your energy use at home and work. A few things you can do to
								get started today: Switch to compact fluorescent light bulbs, take the stairs, and
								bundle up or use a fan to avoid oversetting your thermostat.</p>
						</li>
						<li>
							<p>2. Make Safe, Sustainable Seafood Choices
								Global fish populations are rapidly being depleted due to demand, loss of habitat, and
								unsustainable fishing practices. When shopping or dining out, help reduce the demand for
								overexploited species by choosing seafood that is both healthful and sustainable.</p>
						</li>
                        <div class="col"> <img src="https://mattlister-envirosea.s3.eu-west-2.amazonaws.com/media/turtleentangled.jpg" class="img-fluid" alt="Responsive image">
						<li>
							<p>3. Use Fewer Plastic Products
								Plastics that end up as ocean debris contribute to habitat destruction and entangle and
								kill tens of thousands of marine animals each year. To limit your impact, carry a
								reusable water bottle, store food in nondisposable containers, bring your own cloth tote
								or other reusable bag when shopping, and recycle whenever possible.</p>
						</li>
						<li>
							<p>4. Help Take Care of the Beach
								Whether you enjoy diving, surfing, or relaxing on the beach, always clean up after
								yourself. Explore and appreciate the ocean without interfering with wildlife or removing
								rocks and coral. Go even further by encouraging others to respect the marine environment
								or by participating in local beach cleanups.</p>
						</li>

                        <div class="col"> <img src="https://mattlister-envirosea.s3.eu-west-2.amazonaws.com/media/dolphin.jpg" class="img-fluid" alt="Responsive image">
						<li>
							<p>5. Don't Purchase Items That Exploit Marine Life
								Certain products contribute to the harming of fragile coral reefs and marine
								populations. Avoid purchasing items such as coral jewelry, tortoiseshell hair
								accessories (made from hawksbill turtles), and shark products.</p>
						</li>
						<li>
							<p>6. Be an Ocean-Friendly Pet Owner
								Read pet food labels and consider seafood sustainability when choosing a diet for your
								pet. Never flush cat litter, which can contain pathogens harmful to marine life. Avoid
								stocking your aquarium with wild-caught saltwater fish, and never release any aquarium
								fish into the ocean or other bodies of water, a practice that can introduce non-native
								species harmful to the existing ecosystem.</p>
						</li>
                        <div class="col"> <img src="https://mattlister-envirosea.s3.eu-west-2.amazonaws.com/media/whaleshark.jpg" class="img-fluid" alt="Responsive image">
						<li>
							<p>7. Support Organizations Working to Protect the Ocean
								Many institutes and organizations are fighting to protect ocean habitats and marine
								wildlife. Find a national organization and consider giving financial support or
								volunteering for hands-on work or advocacy. If you live near the coast, join up with a
								local branch or group and get involved in projects close to home.</p>
						</li>
						<li>
							<p>8. Influence Change in Your Community
								Research the ocean policies of public officials before you vote or contact your local
								representatives to let them know you support marine conservation projects. Consider
								patronizing restaurants and grocery stores that offer only sustainable seafood, and
								speak up about your concerns if you spot a threatened species on the menu or at the
								seafood counter.</p>
						</li>
                        <div class="col"> <img src="https://mattlister-envirosea.s3.eu-west-2.amazonaws.com/media/plasticbelow.jpg" class="img-fluid" alt="Responsive image">
						<li>
							<p>9. Travel the Ocean Responsibly
								Practice responsible boating, kayaking, and other recreational activities on the water.
								Never throw anything overboard, and be aware of marine life in the waters around you. If
								you’re set on taking a cruise for your next vacation, do some research to find the most
								eco-friendly option.</p>
						</li>
						<li>
							<p>10. Educate Yourself About Oceans and Marine Life
								All life on Earth is connected to the ocean and its inhabitants. The more you learn
								about the issues facing this vital system, the more you’ll want to help ensure its
								health—then share that knowledge to educate and inspire others.</p>
						</li>
                        
					</ul>

				</p>
                </div>
	</div>
</div>


{% endblock %}