{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
<div class="overlay"></div>
<div class="container mb-2">
  <div class="row">
    <div class="col">
      <hr />
      <h2 class="logo-font mb-4">Holiday Bookings</h2>
      <hr />
    </div>
    <div class="row">
      <div class="col">
        {% if book_items %} {% else %} {% endif %}
      </div>
    </div>
  </div>
</div>
endblock %}
