{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}
<html class="oceans-bg">

{% block content %}
<div class="container h-100">
	<div class="row h-100">
		<div class="col-7 col-md-6 my-auto">
			<div class="wrapper">
				<p>Welcome to Envirosea. A website dedicated to the helping our oceans and preserving their future.</p>

				<p>We've seen the world changing in front of our eyes with the creation of our needs. The oceans are one
					of our
					greatest resources and we are destroying it with our own poor negligence and ignorance. We take from
					the planet
					and we give little back.</p>

				<p>What we do is, we create and we build but when we do that of our own backs and create something that
					mother nature
					hasn't given us, we don't know how to get rid of it properly. This is a prime example of our use of
					plastics.
					Plastics are killing our oceans and we must protect them. Now more than ever because without the
					oceans marine life,
					the world will die.</p>

				<p>Our mission at Envirosea is to help fight against the production of non-recycable plastics. And what
					we can't recycle,
					we shall do our best to figure out how to dispose of it. But first, we must clean the oceans and
					this is what we are
					striving to do.</p>

			</div>
		</div>
		<div class="col-7 col-md-6 my-auto">
			<div class="wrapper">
				<img src="https://mattlister-envirosea.s3.eu-west-2.amazonaws.com/media/coral.jpg" alt="coral" width="400" height="320">

            </div>
			</div>
		</div>

		<div class="container h-100">
			<div class="row h-100">

				<div class="col-7 col-md-6 my-auto">
					<div class="wrapper">
						<img src="https://mattlister-envirosea.s3.eu-west-2.amazonaws.com/media/turtleamazing.jpg" alt="turtle" width="400" height="320">
               </div>
					</div>
					<div class="col-7 col-md-6 my-auto">
						<div class="wrapper">
							<p id="colorred">The reason our planet looks blue from space is because so much of it is
								ocean and covers more that 70 percent of the Earth's surface.

								There are so many reasons why we need to keep our oceans healthy. As well as being home
								to amazing wildlife, our oceans provide food for billions of people and income for
								millions.</p>

							<p>Many of us have heard the saying, we know more about space than we do about our oceans and this is true.
                                Did you know, the deepest reaches of the ocean were once thought to be devoid of life since no light 
                                penetrates beyond 1000 meters. As we explored the ocean, we discovered hydrothermal vents. Chimney like
                                strucutures allowed animals such as mussels and clams to survive not via photosynthesis but ny chemosynthesis.
                                 This was achieved by microbes converting chemicals releaed by the vents into energy.</p>

							<p>At Envirosea, we've been amazed by the oceans since we were small. The amazizng, the terrifying and the curious
                                world beneath the waves. Bizarre fish with sensitive eyes, translucent flesh and seabead dwellers that blend
                                into the sand. Some to hunt, some to hide. The genius of the Orca and how they hunt prey. Their relentless talents they have working in a team.</p>

							<p>More than 80 percent of the ocean is unmapped and unexplored. We have no idea how many more species are yet to be discovered but we are devoted to keeping the oceans alive. This is our mission at Envirosea and we hope you'll help us to do this.</p>

						</div>
					</div>
				</div>
			</div>
        </div>
</html>
{% endblock %}