{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

    
{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <div class="my-5 gradient-box">
                    <p>
                       Welcome to Envirosea. A website decicated to the helping our ocenas and preserving their future.

                       We've seen the world changing in front of our eyes with the creation of our needs. The oceans are one of our
                       greatest resources and we are destroying it with our own poor negligence and ignorance. We take from the planet
                       and we give little back. 

                       What we do is, we create and we build but when we do that of our own backs and create something that mother nature
                       hasn't given us, we don't know how to get rid of it properly. This is a prime example of our use of plastics.
                       Plastics are killing our oceans and we must protect them. Now more than ever because without the oceans marine life,
                       the world will die. 

                       Our mission at Envirosea is to help fight against the production of non-recycable plastics. And what we can't recycle,
                       we shall do our best to figure out how to dispose of it. But first, we must clean the oceans and this is what we are
                       striving to do.

                    </p>
                    
                </div>
                <div class="my-5">
                    
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}